body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    width: 360px;
    border: 6px solid black;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(132, 132, 130, 1));
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 310px;
    height: 50px;
}

.result-container input {
    width: 310px;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
    background-color: rgb(222, 237, 250);
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 320px;
    height: 320px;
    border-radius: 1px solid black;
    margin-bottom: 30px;
}

.button-container button {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
}
